@import "colors"
@import "global"

window {
    width:                      300px;
}

configuration {
    show-icons:                 false;
}

inputbar {
    enabled:                    false;
}

listview {
    lines:                      11;
    dynamic:                    true;
    fixed-height:               false;
}
