@import "colors"
@import "global"

window {
    width:                      500px;
}

configuration {
    show-icons:                 true;
}

textbox-prompt-colon {
    str:                          "Wifi >";
}

listview {
    lines:                      8;
    dynamic:                    true;
    fixed-height:               false;
}
